{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="parallax-section parallax-fx parallax-image-aboutus parallaxOffset no-padding" style=" background: url({% static 'images/about.jpg' %}) no-repeat 50% -80px fixed;">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            О НАС
                        </h1>
                        <h5 class="parallaxSubtitle">
                           Информация о нашем интернет-магазине
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container">
   <p class="lead text-center">
    <h2 class="title-md text-center section-title-style2">
<span>
Продажа сувениров и подарков
</span>
</h2>
Солидные подарки и скромные знаки внимания, изящные безделушки и практичные сувениры всегда вызывают только положительные эмоции! Интернет магазин «Лакшми» предлагает изделия, которые будут служить великолепным подарком близким людям, партнерам по бизнесу, детям, друзьям, коллегам по любому поводу. У нас можно приобрести оптом самые разные сувениры на Новый год, 8 марта, 23 февраля, семейное торжество, юбилей, корпоративный праздник или день рождения.

Если вы занимаетесь розничной продажей сувенирной продукции, то сотрудничество с нами принесет вам только позитивные эмоции и весьма ощутимую прибыль!
<br>
<h2 class="title-md text-center section-title-style2">
<span>
Сувениры и подарки оптом: конкурентные цены и свобода выбора
</span>
</h2>
В интернет магазине «Лакшми» представлен огромный ассортимент таких изделий из Китая как:
    <ul class="list-dot" style="margin-top: 15px;">
    <li>новогодние и бизнес сувениры;</li>
    <li>амулеты, брелоки, бусы, четки;</li>
    <li>предметы для ароматерапии;</li>
    <li>вазы, веера, украшения;</li>
    <li>светодиодные воздушные шары;</li>
    <li>воздушные змеи, фонарики;</li>
    <li>восточная одежда, кожгалантерея;</li>
    <li>декоративные статуэтки, кальяны;</li>
    <li>товары для дома, туризма, спорта и рыбалки;</li>
    <li>текстиль, фарфор, искусственные цветы;</li>
    <li>шкатулки, игрушки, фотоальбомы;</li>
    <li>настольные игры, наборы для покера и многое многое другое.</li>
    </ul>
<br>
Изучайте каталог и выбирайте! Оригинальные сувениры можно купить оптом по очень выгодной цене и с дополнительными скидками, размер которых зависит от суммы заказа. Богатый ассортимент продукции порадует почитателей восточной культуры и не оставит равнодушными поклонников древней китайской науки фен-шуй. В различных разделах можно подобрать креативные подарки, красивую посуду, компьютерные гаджеты, товары для красоты и здоровья, полезные и функциональные аксессуары для дома.
      <h2 class="title-md text-center section-title-style2">
<span>
«Лакшми» – выгодное сотрудничество и отличный сервис
</span>
</h2>
Основные преимущества сотрудничества с нами:
     <ul class="list-dot" style="margin-top: 15px;">
    <li>широкий ассортимент;</li>
    <li>удобная форма оплаты;</li>
    <li>выгодные цены;</li>
    <li>солидные скидки;</li>
    <li>регулярные акции;</li>
    <li>предоставление сертификатов, счетов и других документов;</li>
    <li>возможность резервирования товаров, находящихся в пути.</li>
    </ul>
Чтобы приобрести сувениры и подарки оптом, вам нужно зарегистрироваться на сайте, выбрать нужные товары, поместить их в корзину и оформить заказ. Его можно забрать самостоятельно с нашего склада в Москве или оформить курьерскую доставку по указанному адресу. Мы также отправляем товары во все населенные пункты Московской области и транспортными компаниями в другие регионы России. Форма оплаты – наличными средствами курьеру или безналичный расчет.
</p>
</div>
<!-- /.main-container -->


<div class="gap"></div>


{% endblock %}

