{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="breadcrumb-area gray-bg">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li class="active">О нас</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="testimonials-area bg-img pt-120 pb-115" style="background-image:url({% static 'img/bg/bg-1.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto col-12">
                    <div class="testimonial-active owl-carousel">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-img">
                                <img alt="" src="{% static 'img/icon-img/testi.png' %}">
                            </div>
                            <p>Сервис «Розовое танго» создан дарить эмоции – светлые, яркие, романтичные и страстные,
нежные и откровенные – такие же разные и неповторимые, как и Вы!

У нас Вы легко найдете букет или цветы в необычном формате для любого случая. Каждый букет –
это произведение, настоящая авторская работа флориста.

Заказав у нас цветы,вы получите внимательное отношение к вам и вашему событию, а так же
неповторимый букет из свежих цветов.
                            </p>
                            <h4>Приятного Вам выбора!</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-logo-area ptb-75">
        <div class="container">
            <div class="section-title-wrap-2 text-center section-padding-none mb-30">
                <h3 class="section-title section-bg-white">Наши клиенты</h3>
            </div>
            <div class="brand-logo-active owl-carousel">
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'img/brand-logo/logo-1.png' %} ">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'img/brand-logo/logo-1.png' %} ">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'img/brand-logo/logo-1.png' %} ">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'img/brand-logo/logo-1.png' %} ">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'img/brand-logo/logo-1.png' %} ">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'img/brand-logo/logo-1.png' %} ">
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="blog-details-wrapper">
            <div class="single-blog-wrapper">
                <div class="blog-img mb-30 text-center">
                    <img style="width: 50%" src="{% static 'images/11.png' %}" alt="">
                </div>
                <div class="blog-content mb-30">
                    <h2>Гарантии </h2>

                </div>
            </div>
            <p>Мы гарантируем, что наши цветы закупаются на лучших плантациях Эквадора, Колумбии, Кении, Израиля и на голландских аукционах.</p>

            <p>Мы не закупаем цветы со стока и на распродажах. Поставляем только качественные цветы. Ведь наша главная задача, чтобы Вы не пожалели, что заказали цветы именно у нас. Чтобы Вы вновь обратились к нам, когда они Вам снова понадобятся.</p>
            <p>Возврат и обмен срезанных цветов:</p>
            <p>Цветы являются живым товаром. К отношениям между Покупателем и Продавцом применяется право Российской Федерации. В соответствии с Законом Российской Федерации «О защите прав потребителей» от 07/02/1992 № 2300-1 (в ред. от 25/10/2007г.) и Постановлением Правительства Российской Федерации от 19/01/1998 № 55 (в ред. 27/03/2007г.) срезанные цветы и горшечные растения обмену и возврату не подлежат (указаны в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену)</p>
            <p>Покупатель цветов имеет право отказаться от получения товара в момент покупки, если предложен товар ненадлежащего качества (на основании п.3 ст.497 ГК РФ, статья 21 Закона «О защите прав потребителей»).</p>
        </div>

    </div>
    <div class="project-count-area gray-bg pt-100 pb-70 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-icon">
                            <span class="ion-ios-briefcase-outline"></span>
                        </div>
                        <div class="count-title">
                            <h2 class="count">360</h2>
                            <span>Текст</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-icon">
                            <span class="ion-ios-wineglass-outline"></span>
                        </div>
                        <div class="count-title">
                            <h2 class="count">690</h2>
                            <span>Текст</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-icon">
                            <span class="ion-ios-lightbulb-outline"></span>
                        </div>
                        <div class="count-title">
                            <h2 class="count">420</h2>
                            <span>Текст</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30 mrgn-none">
                        <div class="count-icon">
                            <span class="ion-happy-outline"></span>
                        </div>
                        <div class="count-title">
                            <h2 class="count">100</h2>
                            <span>Текст</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="about-us-area pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 d-flex align-items-center">
                    <div class="overview-content-2">
                        <h2>Наши <span>реквизиты</span></h2>

                        <ul>
                            <li>ИП Мамаева К.С.</li>
                            <li>ИНН 663208932186</li>
                            <li>ОГРНИП 317665800080537</li>
                            <li>Юридический адрес 454087, г. Челябинск, ул. Блюхера 53-84</li>
                            <li>Фактический адрес 454007, г. Челябинск, ул. Красная 67</li>
                            <li>Телефон (факс) 8 (919) 123 04 57</li>
                            <li>Номер расчетного счета 40802810172000014905</li>
                            <li>Наименование учреждения банка Челябинское отделение №8597 ПАО Сбербанк</li>
                            <li>Местонахождение учреждения банка Г. Челябинск</li>
                            <li>Корреспондентский счет банка 30101810700000000602</li>
                            <li>БИК 047501602</li>
                            <li>Тел. / факс 8 (351) 223-04-57</li>
                            <li>e-mail r-tango@mail.ru</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="overview-img text-center">
                        <a href="#">
                            <img src="{% static 'img/banner/about-us.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}