{% extends 'basic.html' %}
{% load static %}
{% block title %}
   {{ block.super }} | О нас
{% endblock %}
{% block description %}
    {{ description }}
{% endblock %}

{% block content %}
    <div class="breadcrumb-area gray-bg">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li class="active">О нас</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="testimonials-area bg-img pt-30 pb-115" style="background-image:url({% static 'img/bg/bg-1.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto col-12">
                    <div class="testimonial-active owl-carousel">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-img">
                                <img alt="" src="{% static 'img/icon-img/testi.png' %}">
                            </div>
                            <p>Сервис «Розовое танго» создан дарить эмоции – светлые, яркие, романтичные и страстные,
                                нежные и откровенные – такие же разные и неповторимые, как и Вы!

                                У нас Вы легко найдете букет или цветы в необычном формате для любого случая. Каждый букет –
                                это произведение, настоящая авторская работа флориста.

                                Заказав у нас цветы,вы получите внимательное отношение к вам и вашему событию, а так же
                                неповторимый букет из свежих цветов.
                            </p>
                            <h4>Приятного Вам выбора!</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-logo-area ptb-75">
        <div class="container">
            <div class="section-title-wrap-2 text-center section-padding-none mb-30">
                <h3 class="section-title section-bg-white">Наши постоянные клиенты</h3>
            </div>
            <div class="brand-logo-active owl-carousel">
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'images/p1.jpg' %} ">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'images/p2.jpg' %} ">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'images/p3.jpg' %} ">
                </div>
                <div class="single-brand-logo">
                    <img style="width: 160px !important;" alt="" src="{% static 'images/p4.png' %} ">
                </div>

                <div class="single-brand-logo">
                    <img alt="" src="{% static 'images/p5.jpg' %} ">
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="blog-details-wrapper">
            <div class="single-blog-wrapper">
                <div class="blog-img mb-30 text-center">
                    <img style="width: 50%" src="{% static 'images/11.png' %}" alt="">
                </div>
                <div class="blog-content mb-30">
                    <h2>Гарантии </h2>

                </div>
            </div>
            <p>Мы гарантируем, что наши цветы закупаются на лучших плантациях Эквадора, Колумбии, Кении, Израиля и на голландских аукционах.</p>

            <p>Мы не закупаем цветы со стока и на распродажах. Поставляем только качественные цветы. Ведь наша главная задача, чтобы Вы не пожалели, что заказали цветы именно у нас. Чтобы Вы вновь обратились к нам, когда они Вам снова понадобятся.</p>
            <p>Возврат и обмен срезанных цветов:</p>
            <p>Цветы являются живым товаром. К отношениям между Покупателем и Продавцом применяется право Российской Федерации. В соответствии с Законом Российской Федерации «О защите прав потребителей» от 07/02/1992 № 2300-1 (в ред. от 25/10/2007г.) и Постановлением Правительства Российской Федерации от 19/01/1998 № 55 (в ред. 27/03/2007г.) срезанные цветы и горшечные растения обмену и возврату не подлежат (указаны в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену)</p>
            <p>Покупатель цветов имеет право отказаться от получения товара в момент покупки, если предложен товар ненадлежащего качества (на основании п.3 ст.497 ГК РФ, статья 21 Закона «О защите прав потребителей»).</p>
        </div>

    </div>
    <div class="project-count-area gray-bg pt-100 pb-70 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-icon">
                            <span class="ion-ios-briefcase-outline"></span>
                        </div>
                        <div class="count-title">
                            <h2 class="count">100</h2>
                            <span>партнеров по поставкам</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-icon">
                            <span class="ion-ios-wineglass-outline"></span>
                        </div>
                        <div class="count-title">
                            <h2 class="count">70</h2>
                            <span>успешных контрактов</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-icon">
                            <span class="ion-ios-lightbulb-outline"></span>
                        </div>
                        <div class="count-title">
                            <h2 class="count">11000</h2>
                            <span>покупателей за 2019 год</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30 mrgn-none">
                        <div class="count-icon">
                            <span class="ion-happy-outline"></span>
                        </div>
                        <div class="count-title">
                            <h2 class="count">1000</h2>
                            <span>постоянных покупателей</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="about-us-area pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 d-flex align-items-center">
                    <div class="overview-content-2">
                        <h2>Наши <span>реквизиты</span></h2>

                        <ul>
                            <li>ИП Мамаева К.С.</li>
                            <li>ИНН 663208932186</li>
                            <li>ОГРНИП 317665800080537</li>
                            <li>Юридический адрес 454087, г. Челябинск, ул. Блюхера 53-84</li>
                            <li>Фактический адрес 454007, г. Челябинск, ул. Красная 67</li>
                            <li>Телефон (факс) 8 (919) 123 04 57</li>
                            <li>Номер расчетного счета 40802810172000014905</li>
                            <li>Наименование учреждения банка Челябинское отделение №8597 ПАО Сбербанк</li>
                            <li>Местонахождение учреждения банка Г. Челябинск</li>
                            <li>Корреспондентский счет банка 30101810700000000602</li>
                            <li>БИК 047501602</li>
                            <li>Тел. / факс 8 (351) 223-04-57</li>
                            <li>e-mail r-tango@mail.ru</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="overview-img text-center">
                        <a href="#">
                            <img src="{% static 'img/banner/about-us.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="user_agreement" class="container about-us-area pt-80 pb-80">
        <div  class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><a data-toggle="collapse" data-parent="#faq" href="#my-account-1" aria-expanded="false" class="collapsed">Пользовательское соглашение</a></h5>
                </div>
                <div id="my-account-1" class="panel-collapse collapse" style="">
                    <div class="panel-body">
                        <p style="padding: 20px">
                            Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между ИП Мамаева К.С. (далее <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru">https://r-tango.ru</a> или Администрация) с одной стороны и пользователем сайта с другой. <br>

                            Сайт <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru">https://r-tango.ru</a> не является средством массовой информации. <br>

                            Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br>
                            Если Вы не согласны с условиями данного соглашения, не используйте сайт <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru">https://r-tango.ru</a>!<br>

                            <br>
                            <b>Права и обязанности сторон</b>            <br>  <br>
                            <b>Пользователь имеет право:</b><br>
                            - осуществлять поиск информации на сайте<br>
                            - получать информацию на сайте<br>
                            - копировать информацию на другие сайты с указанием источника<br>
                            - копировать информацию на другие сайты с разрешения Администрации сайта<br>
                            - использовать информацию сайта в личных некоммерческих целях<br>
                            <br>
                            <b>Администрация имеет право</b>:<br>
                            - по своему усмотрению и необходимости создавать, изменять, отменять правила<br>
                            - ограничивать доступ к любой информации на сайте<br>
                            - создавать, изменять, удалять информацию<br>
                            - удалять учетные записи<br>
                            - отказывать в регистрации без объяснения причин<br>
                            <br>

                            <b>Пользователь обязуется:</b><br>
                            - не нарушать работоспособность сайта<br>
                            - не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу<br>
                            - не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами<br>
                            <br>
                            <b>Администрация обязуется:</b><br>
                            - поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.<br>
                            <br>
                            <b>Ответственность сторон</b><br>
                            - администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>
                            - в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса<br>
                            <br>
                            <b>Условия действия Соглашения</b><br>
                            Данное Соглашение вступает в силу при любом использовании данного сайта.<br>
                            Соглашение перестает действовать при появлении его новой версии.<br>
                            Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.<br>
                            Администрация не оповещает пользователей об изменении в Соглашении.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><a data-toggle="collapse" data-parent="#faq" href="#my-account-2" class="collapsed" aria-expanded="false">Политика конфиденциальности</a></h5>
                </div>
                <div id="my-account-2" class="panel-collapse collapse" style="">
                    <div class="panel-body">
                        <p style="padding: 20px">
                            <b>Политика в отношении обработки персональных данных</b>
                            <br><br>
                            <b>1. Общие положения</b><br>
                            Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных ИП Мамаева К.С. (далее – Оператор).
                            Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                            Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru/about_us">https://r-tango.ru/about_us</a>.
                            <br><br>

                            <b>2. Основные понятия, используемые в Политике</b><br>
                            Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;<br>
                            Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);<br>
                            Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru/about_us">https://r-tango.ru/about_us</a>;<br>
                            Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;<br>
                            Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;<br>
                            Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;<br>
                            Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;<br>
                            Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru/about_us">https://r-tango.ru/about_us</a>;<br>
                            Пользователь – любой посетитель веб-сайта <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru/about_us">https://r-tango.ru/about_us</a>;<br>
                            Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;<br>
                            Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;<br>
                            Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;<br>
                            Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.<br>
                            <br>
                            <b>3. Оператор может обрабатывать следующие персональные данные Пользователя</b><br>
                            Фамилия, имя, отчество;<br>
                            Электронный адрес;<br>
                            Номера телефонов;<br>
                            Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).<br>
                            Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.<br>

                            <b>4. Цели обработки персональных данных</b><br>
                            Цель обработки персональных данных Пользователя — информирование Пользователя посредством отправки электронных писем.<br>
                            Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты <a style="text-decoration: underline; color: #ff3d2a" href="mailto:r-tango@mail.ru">r-tango@mail.ru</a> с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».<br>
                            Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.<br>
                            <br>
                            <b>5. Правовые основания обработки персональных данных</b><br>
                            Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru/about_us">https://r-tango.ru/about_us</a>. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.<br>
                            Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).<br>
                            <br>
                            <b>6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</b><br>
                            Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.<br>
                            Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.<br>
                            Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.<br>
                            В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора <a style="text-decoration: underline; color: #ff3d2a" href="mailto:r-tango@mail.ru">r-tango@mail.ru</a> с пометкой «Актуализация персональных данных».<br>
                            Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора <a style="text-decoration: underline; color: #ff3d2a" href="mailto:r-tango@mail.ru">r-tango@mail.ru</a> с пометкой «Отзыв согласия на обработку персональных данных».<br>
                            <br>
                            <b>7. Трансграничная передача персональных данных</b><br>
                            Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.<br>
                            Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.<br>
                            <br>
                            <b>8. Заключительные положения</b><br>
                            Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты <a style="text-decoration: underline; color: #ff3d2a" href="mailto:r-tango@mail.ru">r-tango@mail.ru</a>.<br>
                            В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.<br>
                            Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу <a style="text-decoration: underline; color: #ff3d2a" href="https://r-tango.ru/about_us">https://r-tango.ru/about_us</a>
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}