{% extends 'basic.html' %}
{% load static %}
{% block title %}
   {{ block.super }} | Контакты
{% endblock %}
{% block description %}
    {{ description }}
{% endblock %}
{% block content %}
  <div class="breadcrumb-area gray-bg">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li class="active"> Контакты </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact-us ptb-68">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-page-title mb-40">
                            <h1>
                                Контакты
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="contact-tab-list nav">
                            <li><a class="active" href="#contact-address" data-toggle="tab">Наши контакты</a></li>
                            <li><a  href="#contact-form-tab" data-toggle="tab">Мы на связи</a></li>
                            <li><a href="#store-location" data-toggle="tab">Показать на карте</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content tab-content-contact">
                            <div id="contact-address" class="tab-pane fade row d-flex active show">


                                <div class="col-lg-4 col-md-4">
                                    <div class="contact-information">
                                        <h4>Бутик цветов Розовое танго</h4>
                                        <p>Срезанные цветы, букеты, шарики, оформление подарков</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="contact-information contact-mrg">
                                        <h4>Телефон</h4>
                                        <p>
                                            <a href="tel:73512230457">+7 (351) 223-04-57</a>

                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="contact-information contact-mrg">
                                        <h4>E-Mail</h4>
                                        <p>
                                            <a href="mailto:r-tango@mail.ru ">r-tango@mail.ru </a>
                                            <a href="#">www.r-tango.ru</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="contact-form-tab" class="tab-pane fade row d-flex">
                                <div class="col">
                                    <form  action="{% url 'one_click' %}" method="post">{% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="contact-form-style mb-20">
                                                    <input name="name" required placeholder="Ваше имя" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-form-style mb-20">
                                                    <input name="phone" required placeholder="Ваш телефон" type="tel">
                                                </div>
                                            </div>

                                            <div class="col-lg-12">

                                                <div class="contact-form-style">
                                                    <textarea name="message" placeholder="Ваше сообщение"></textarea>
                                                    <button class="submit" type="submit">Отправить</button>
                                                       <p style="color: #a4a4a4; font-size: x-small;">Нажимая кнопку "Отправить", вы соглашаетесь с правилами
                                                           <a href="{% url 'about_us' %}#user_agreement">Политики конфиденциальности</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div id="store-location" class="tab-pane fade row d-flex">
                                <div class="col-12">
                                    <div class="contact-map">
                                        <div id="map">
                                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A72e0a3fc62568cdf70c23da845992dac7bd4eb7d90b3bd53df2ba688adee1e85&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}