{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="parallax-section parallax-fx parallax-image-aboutus parallaxOffset no-padding" style=" background: url({% static 'images/logistic.jpg' %}) no-repeat 50% -80px fixed;">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                              ИНФОРМАЦИЯ О ДОСТАВКЕ
                        </h1>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">


    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">


                    <div class="row animated">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <h3 style="font-size: 19px !important;" class="block-title-3">
                                Самовывоз
                            </h3>

                            <p>
                                Вы можете забрать ваш заказ сами с нашего склада по адресу:
                                <br>
                                г. Москва, метро Нагорная, Электорлитный проезд, дом 10, склад 18
                                <br>
                                <strong>Стоимость: </strong>бесплатно
                            </p>


                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <h3 style="font-size: 19px !important;" class="block-title-3">
                                Доставка Курьером
                            </h3>

                            <p>
                            Мы доставляем заказы курьером по Москве (в пределах МКАД). По поводу доставки за пределы МКАД - звоните по контактному номеру:
                            <br> +7 (495) 926 33 59
                            <br>
                            <strong>Стоимость: </strong>500 рублей
                            </p>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <h3 style="font-size: 19px !important;" class="block-title-3">
                                Доставка Транспортной Кампанией
                            </h3>

                            <p>
                            Мы отправляем грузы по всей территории РФ! Со списком ТК вы можете ознакомиться ниже.
                            Стоимость доставки груза до вашего города уточняйте индивидуально у ТК! Ниже указана стоимость доставки груза до ТК
                            <br>
                            <strong>Стоимость: </strong>500 рублей (при заказе от 5.000 - бесплатно)
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<hr>

    <div class="container">
   <p class="lead text-center">
    <h3 style="font-size: 19px !important;" class="block-title-3">
        Список транспортных кампаний
    </h3>

    <ul class="list-dot" style="margin-top: 15px;">

    <li>ТК "РАТЭК" </li>
    <li>ТК «Мейджик Транс» </li>
    <li>ТК «Байкал-Сервис» </li>
    <li>ТК «ФАСТранс» </li>
    <li>ТК «Экспресс-Авто» </li>
    <li>ТК «ЖелДорЭкспедиция»  </li>
    <li>ТК «Деловые Линии» </li>
    <li>ТК "Почтовая Экспедиционная Компания"  </li>
    <li>ТК "ПЭК"</li>
    <li>СДЭК</li>
    <li>ТК "Деливери"</li>
    <li>ТК «КИТ» </li>

    </ul>
</p>
</div>

    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>


{% endblock %}

