
<div class="product-wrapper {% if not category %}no-hover{% endif %}">
    <div class="product-img">
        {% if category %}
            <a href="{% url 'item_page' category.name_slug item.name_slug %}">
                <img alt="{{ item.name }}" src="{{ item.images.first.image_small }}">
            </a>
        {% else %}
            <a href="{% url 'item_page' item.category.first.name_slug item.name_slug %}">
                <img alt="{{ item.name }}" src="{{ item.images.first.image_small }}">
            </a>
        {% endif %}

        {% if item.discount > 0 %}
            <span>-{{ item.discount }}%</span>
        {% endif %}
    {% if item.width and item.height %}
        <span class="item-size">&#8596; {{ item.width }}см &#8597; {{ item.height }}см</span>
    {% endif %}

        <div class="product-action">
            {#                                                    <a class="action-wishlist" href="#" title="Wishlist">#}
            {#                                                        <i class="icon-heart"></i>#}
            {#                                                    </a>#}
{#            <a title="В корзину" href="javasript: void(0)"#}
{##}
{#               data-item_id="{{ item.id }}"#}
{#               data-item_name="{{ item.name }}"#}
{#               data-item_price="{{ item.price }}"#}
{#               data-item_image="{{ item.images.first.image_small }}"#}
{#               onclick="add_to_cart(this,1)">#}
{#                <i class="icon-handbag"></i>#}
{#            </a>#}
            {#                                                    <a class="action-compare" href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">#}
            {#                                                        <i class="icon-magnifier-add"></i>#}
            {#                                                    </a>#}
{#            {% if not item.is_optional %}#}
{#                <a class="action-wishlist" href="#" data-itemid="{{ item.id }}" data-item_image="{{ item.images.first.image_small }}" data-target="#exampleModal" data-toggle="modal" title="Купить в один клик">#}
{#                    <i class="fa fa-cart-plus "></i>#}
{#                </a>#}
{#            {% endif %}#}
            <a class="item-parts">Состав :
                {% for part in item.itemparts_set.all %}
                {{ part.item_part.name }} {% if part.item_part_count > 0 %}x {{ part.item_part_count }} шт{% endif %}
            {% endfor %}
            </a>
        </div>
    </div>
    <div class="product-content text-center">
        <p>
            <a href="{% url 'item_page' item.category.first.name_slug item.name_slug %}"><b>{{ item.name }}</b></a>
        </p>
        <div class="product-price-wrapper mb-10">
            {% if item.discount > 0 %}
                <span>{{ item.discount_value }} <i class="fa fa-rub"></i></span>
                <span class="product-price-old">{{ item.price }} <i class="fa fa-rub"></i></span>
            {% else %}
                <span>{{ item.price }} <i class="fa fa-rub"></i></span>

            {% endif %}

        </div>
        <div class="">
            <span class="in-cart-btn"

                         data-item_id="{{ item.id }}"
                         data-item_name="{{ item.name }}"
                         data-item_price="{{ item.price }}"
                         data-item_image="{{ item.images.first.image_small }}"
                         onclick="add_to_cart(this,1)">В корзину</span>
            <span s class="one-click-btn"  data-itemid="{{ item.id }}" data-item_image="{{ item.images.first.image_small }}" data-target="#exampleModal" data-toggle="modal">Купить в 1 клик</span>
        </div>
    </div>
    {% if indexActive %}
        <div class="product-list-details">
            <p>
                <a href="product-details.html">{{ item.name }}</a>
            </p>
            <div class="product-price-wrapper">
                {% if item.discount > 0 %}
                    <span>{{ item.discount_value }} <i class="fa fa-rub"></i></span>
                    <span class="product-price-old">{{ item.price }} <i class="fa fa-rub"></i></span>
                {% else %}
                    <span>{{ item.price }} <i class="fa fa-rub"></i></span>

                {% endif %}
            </div>
            <p>{{ item.description | truncatewords_html:2 }}</p>
            <div class="shop-list-cart-wishlist">
                <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" title="Add To Cart"><i class="icon-handbag"></i></a>
                <a href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                    <i class="icon-magnifier-add"></i>
                </a>
            </div>

        </div>
    {% endif %}
</div>
