{% extends 'basic.html' %}
{% load static %}
{% block title %}
   {{ block.super }} | Оплата
{% endblock %}
{% block description %}
    {{ description }}
{% endblock %}
{% block content %}

    <div class="breadcrumb-area gray-bg">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li class="active">Оплата</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container pt-75">

        <h1>Оплата</h1>
        <p>Вы можете оплатить ваш заказ одним из следующих способов:</p>
        <div class="payments">
            <h4>1. Банковскими картами</h4>
            <div class="pay-items">
                <div class="pay-item" style="background: url({% static 'images/credit_card.png' %})">
                    <p>Visa / Mastercard / МИР</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/sberonline.jpg' %})">
                    <p>Карта Сбербанк</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/alfaclick.png' %})">
                    <p>Альфа-Клик</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/applepay.png' %})">
                    <p>Visa / Mastercard / МИР</p>
                </div>
            </div>
            <h4>2. Наличными в банкоматах Сбербанк / салонах связи Евросеть и Связной / терминалах</h4>
            <div class="pay-items">
                <div class="pay-item" style="background: url({% static 'images/bank.png' %})">
                    <p>Сбербанк</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/salon.png' %})">
                    <p>Связной и Евросеть</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/terminals.jpg' %})">
                    <p>Терминалы</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/courier.png' %})">
                    <p>При получении</p>
                </div>
            </div>
            <h4>3. Электронные платежные системы</h4>
            <div class="pay-items">
                <div class="pay-item" style="background: url({% static 'images/mobimoney.png' %})">
                    <p>С телефона</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/paypal.jpg' %})">
                    <p>PayPal / Cards</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/qiwi.png' %})">
                    <p>Qiwi-кошелек</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/yandex_money.jpg' %})">
                    <p>Яндекс.Деньги</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/webmoney.jpg' %})">
                    <p>Вэбмани</p>
                </div>
            </div>

            <div class="pay-items">
                <div class="pay-item" style="background: url({% static 'images/korona.png' %})">
                    <p>Золотая Корона</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/bill.jpg' %})">
                    <p>Расчетный счет</p>
                </div>
                <div class="pay-item" style="background: url({% static 'images/halva.png' %})">
                    <p>Карта Халва</p>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <p>
            Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз
            ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в
            защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк
            поддерживает технологию безопасного проведения интернет-платежей Verified By Visa,
            MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может
            потребоваться ввод специального пароля.
        </p><p>
        Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой
        персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет
        предоставлена третьим лицам за исключением случаев, предусмотренных законодательством
        РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с
        требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
    </p>
        <div class="">
            <img src="{% static 'images/visa.png' %}" alt="">
            <img src="{% static 'images/mc.png' %}" alt="">
            <img src="{% static 'images/mir.png' %}" alt="">
            <img src="{% static 'images/jcb.png' %}" alt="">
        </div>
    </div>


    <div style="clear:both"></div>

    <!-- /.main-container -->

    <div class="gap"></div>





{% endblock %}