{% extends 'basic.html' %}
{% load static %}

{% block content %}

<div class="container main-container headerOffset globalPaddingBottom">
 <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">ГЛАВНАЯ</a></li>
                <li><a href="{% url 'category' subcat.category.name_slug %}">{{ subcat.category.name.upper }}</a></li>
                <li class="active">{{ subcat.name.upper }}</li>
            </ul>
        </div>
     <div class="catTopBar clearfix">
         <div class="catTopBarInner clearfix" >
             <div style="margin-bottom: 15px;" >
                 <ul class="list-inline">
                     {% if param_filter %}
                         <li style="margin: 0px ; padding: 0px;"><a href="javascript:void(0);" onclick="del_filter();return false;"   class="btn-outline danger-outline ">УБРАТЬ ФИЛЬТРЫ</a></li>
                     {% endif %}
                     <li style="margin: 0px ; padding: 0px;"><a href="javascript:void(0);" onclick="filter('{{ 'new' }}',{{ subcat.id }});return false;"  class="btn-outline success-outline ">НОВИНКИ</a></li>
                     {% for filter in subcat.filter_set.all %}
                         <li style="margin: 0px; padding: 0px;">  <a {% if filter.name_slug == param_filter %}style="background-color: #e7e7e7;" {% endif %}  href="javascript:void(0);" onclick="filter('{{ filter.name_slug }}',{{ subcat.id }});return false;"  class="btn-outline default-outline ">{{ filter.name }}</a></li>
                     {% endfor %}
                 </ul>
             </div>

             <div class="f-right">
                 <div class="row ">
                     <div class="col-lg-6">
                         <p class="pull-left shrtByP center-xs"><span>СОРТИРОВАТЬ ПО :</span>
                             <a {% if param_order == '-created_at' %}class="active"{% endif %} onclick="order('-created_at',{{ subcat.id }});return false;">НОВИЗНЕ</a>|
                             <a {% if param_order == 'name' %}class="active"{% endif %} onclick="order('name',{{ subcat.id }});return false;">А - Я</a> |
                             <a {% if param_order == '-name' %}class="active"{% endif %} onclick="order('-name',{{ subcat.id }});return false;">Я - А</a> |
                             <a {% if param_order == 'price' %}class="active"{% endif %} onclick="order('price',{{ subcat.id }});return false;">Цене <i class="fa fa-arrow-up" aria-hidden="true"></i></a>|
                             <a {% if param_order == '-price' %}class="active"{% endif %} onclick="order('-price',{{ subcat.id }});return false;">Цене <i class="fa fa-arrow-down" aria-hidden="true"></i></a>|
                             <a {% if param_order == '-discount' %}class="active"{% endif %} onclick="order('-discount',{{ subcat.id }});return false;">скидке</a>|
                         </p>
                     </div>
                     <div class="col-lg-6">
                         <div class="row">
                             <div  class="input-append couponForm">
                                 <form class="col-lg-9 form-inline">
                                     <input class="col-lg-9"  id="search_string" type="text" {% if param_search %}value="{{ param_search }}" {% endif %}
                                            placeholder="Введите наименование товара или его часть" required="required">
                                     <button class="col-lg-3 btn btn-primary" onclick="search({{ subcat.id }});return false;" type="submit">ПОИСК</button>

                                 </form>

                                 <select id="per_page" style="height: 35px;border-style: solid;border-width: 1px;    border-radius: 3px;
                                 color: #888888;font-size: 14px;margin-bottom: 10px;" class="col-lg-3 " onchange="per_page({{ subcat.id }})">
                                     <option value="12" {% if param_count == '12' %}selected="selected"{% endif %} >12 товаров</option>
                                     <option value="24" {% if param_count == '24' %}selected="selected"{% endif %}>24 товаров</option>
                                     <option value="36" {% if param_count == '36' %}selected="selected"{% endif %}>36 товаров</option>
                                     <option value="48" {% if param_count == '48' %}selected="selected"{% endif %}>48 товаров</option>
                                 </select>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>

         </div>
     </div>

 </div>

    <section class="main-container-wrapper clearfix" id="main-container-wrapper">
        <div class="container main-container">
            <!-- Main component call to action -->
            <div class="row">
                <!--left column-->
            <div id="subcat_items" class="row  categoryProduct xsResponse clearfix">
                {% for item in items %}
                    {% include 'page/item_info.html' %}
                {% endfor %}
                {% if not items.has_next %}
                {% for item in not_present %}
                    {% include 'page/item_info.html' %}
                {% endfor %}
            {% endif %}
            </div>
                <!--/.catColumnWrapper-->
            </div>
            <!-- /.row  -->
        </div>
        <!-- /main container -->
         <nav id="items_paginator" class="shop-pagination" aria-label="Shop navigation">
                                <ul class="pagination justify-content-end">
                                {% if items.has_previous %}
                                    <li class="page-item">
                                      <a class="page-link" href="?{% if param_search %}&search={{ param_search }}{% endif %}{% if param_filter %}&filter={{ param_filter }}{% endif %}{% if param_order %}&order={{ param_order }}{% endif %}{% if param_count %}&count={{ param_count }}{% endif %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">begin</span>
                                      </a>
                                    </li>
                                {% endif %}
                                    {% for pg in items.paginator.page_range %}
                                        {% if items.number == pg %}
                                            <li class="page-item active"><a class="page-link" href="?{% if pg > 1 %}page={{ pg }}{% endif %}{% if param_search %}&search={{ param_search }}{% endif %}{% if param_filter %}&filter={{ param_filter }}{% endif %}{% if param_order %}&order={{ param_order }}{% endif %}{% if param_count %}&count={{ param_count }}{% endif %}">{{pg}}</a></li>
                                        {% elif pg > items.number|add:'-6' and pg < items.number|add:'6' %}
                                            <li class="page-item"><a class="page-link" href="?{% if pg > 1 %}page={{ pg }}{% endif %}{% if param_search %}&search={{ param_search }}{% endif %}{% if param_filter %}&filter={{ param_filter }}{% endif %}{% if param_order %}&order={{ param_order }}{% endif %}{% if param_count %}&count={{ param_count }}{% endif %}">{{pg}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% if items.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ items.paginator.num_pages }}{% if param_search %}&search={{ param_search }}{% endif %}{% if param_filter %}&filter={{ param_filter }}{% endif %}{% if param_order %}&order={{ param_order }}{% endif %}{% if param_count %}&count={{ param_count }}{% endif %}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">end</span>
                                    </a>
                                  </li>
                                  {% endif %}

                                </ul>

                            </nav>
    </section>
   <div>
       {% if seoText %}
           {{ seoText | safe }}
       {% else %}

    {{ subcat.description|safe }}
       {% endif %}
    </div>
</div>

{% include 'page/quick_view.html' %}

{% endblock %}