{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="breadcrumb-area gray-bg">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Главная</a></li>

                    <li class="active">Корзина </li>
                </ul>
            </div>
        </div>
    </div>
      <!-- shopping-cart-area start -->
    {% if count_items_in_cart > 0 %}
        <div class="cart-main-area pt-60 pb-65">
            <div class="container">
                <h3 class="page-title">Ваши покупки</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div id="#cart_content" class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Название</th>
                                            <th>Цена</th>
                                            <th>Количество</th>
                                            <th>Всего</th>
                                            <th>Удалить</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart_content_table">
                                     {% for cart_item in all_items_in_cart %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img width="70px" src="{{ cart_item.item.images.first.image_small }}" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">{{ cart_item.item.name }}</a></td>
                                            <td class="product-price-cart"><span class="amount">{{ cart_item.current_price}} &#8381;</span></td>
                                            <td class="product-quantity">
                                                <div class="pro-dec-cart">
                                                    <input class="cart-plus-minus-box"  data-item_in_cart_id="{{ cart_item.id }}" onchange="change_cart(this);return false;" type="number" min="1" value="{{ cart_item.number }}"  name="qtybutton">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">{{ cart_item.total_price }} &#8381;</td>
                                            <td class="product-remove">

                                                <a onclick="delete_from_main_cart({{ cart_item.id }});return false;" title="Удалить">
                                                    <i class="fa fa-times"></i></a>
                                           </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="{{ request.META.HTTP_REFERER }}">Продолжить покупки</a>
                                        </div>
{#                                        <div class="cart-clear">#}
{#                                            <button>Update Shopping Cart</button>#}
{#                                            <a href="#">Clear Shopping Cart</a>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
{#                            <div class="col-lg-4 col-md-6">#}
{#                                <div class="cart-tax">#}
{#                                    <div class="title-wrap">#}
{#                                        <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>#}
{#                                    </div>#}
{#                                    <div class="tax-wrapper">#}
{#                                        <p>Enter your destination to get a shipping estimate.</p>#}
{#                                        <div class="tax-select-wrapper">#}
{#                                            <div class="tax-select">#}
{#                                                <label>#}
{#                                                    * Country#}
{#                                                </label>#}
{#                                                <select class="email s-email s-wid">#}
{#                                                    <option>Bangladesh</option>#}
{#                                                    <option>Albania</option>#}
{#                                                    <option>Åland Islands</option>#}
{#                                                    <option>Afghanistan</option>#}
{#                                                    <option>Belgium</option>#}
{#                                                </select>#}
{#                                            </div>#}
{#                                            <div class="tax-select">#}
{#                                                <label>#}
{#                                                    * Region / State#}
{#                                                </label>#}
{#                                                <select class="email s-email s-wid">#}
{#                                                    <option>Bangladesh</option>#}
{#                                                    <option>Albania</option>#}
{#                                                    <option>Åland Islands</option>#}
{#                                                    <option>Afghanistan</option>#}
{#                                                    <option>Belgium</option>#}
{#                                                </select>#}
{#                                            </div>#}
{#                                            <div class="tax-select">#}
{#                                                <label>#}
{#                                                    * Zip/Postal Code#}
{#                                                </label>#}
{#                                                <input type="text">#}
{#                                            </div>#}
{#                                            <button class="cart-btn-2" type="submit">Get A Quote</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                       <h4 class="cart-bottom-title section-bg-gray">Ввести промокод</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Введите ваш промокод и нажмите Активировать</p>
                                        <div>
                                            <input type="text" required="" id="appendedInputButton">
                                            <button class="cart-btn-2" type="button" onclick="use_promo();return false;">Активировать</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Итого по позициям:</h4>
                                    </div>
                                    <h5 >Общая стоимость <span id="cart_total">{{ total_cart_price }} &#8381;</span></h5>

                                       <h5>Скидка по промо-коду <span id="promo_value">{{ promo_discount_value }} %</span></h5>

                                    <h4 class="grand-totall-title">Итого  <span id="cart_total_price_side">{{ total_cart_price_with_discount }} &#8381;</span></h4>
                                    <a href="#">Оформить заказ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="product-area pb-70">
        <div class="container">
            <div class="product-top-bar section-border mb-35">
                <div class="section-title-wrap">
                    <h3 class="section-title section-bg-white">ДОБАВЬТЕ К БУКЕТУ</h3>
                </div>
            </div>
         <div class="product-grid product-view pb-20">
                                <div class="row">
                                    {% for item in additional_items %}
                                      <div class="product-width col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 mb-30">
                                        {% include 'page/item_card.html' %}
                                      </div>
                                    {% endfor %}

                                </div>
                            </div>

        </div>
    </div>
    {% else %}
        <div class="cart-main-area pt-60 pb-65">
            <div class="container">
                <h3 class="page-title">Корзина пуста</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}