{% extends 'basic.html' %}
{% load static %}

{% block content %}

    {% if total_cart_price %}
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">ГЛАВНАЯ</a></li>
                <li class="active"> КОРЗИНА</li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
            <h1 class="section-title-inner"><span><i
                    class="glyphicon glyphicon-shopping-cart"></i> ВАШИ ПОКУПКИ </span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
            <h4 class="caps"><a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-chevron-left"></i> ВЕРНУТЬСЯ К ПОКУПКАМ </a></h4>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <div id="cart_content" class="cartContent w100">
                        <table id="cart_content_table" class="cartTable table-responsive" style="width:100%">
                            <tbody>

                            <tr class="CartProduct cartTableHeader">
                                <td style="width:15%"> </td>
                                <td style="width:40%">Товар</td>
                                <td style="width:10%" class="delete">&nbsp;</td>
                                <td class="cart_item_number">Кол-во</td>
                                <td style="width:10%">Скидка</td>
                                <td style="width:15%">Всего</td>
                            </tr>
                            {% for cart_item in all_items_in_cart %}
                                <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div><a href="#"><img src="{{ cart_item.item.itemimage_set.first.image_small }}" alt="img"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="CartDescription">
                                        <h4><a href="#">{{ cart_item.item.name }}</a></h4>
                                        <span class="size">{{ cart_item.item.subcaterory.name }}</span>

                                        <div class="price"><span>{{ cart_item.current_price}} &#8381;</span></div>
                                    </div>
                                </td>
                                <td class="delete"><a onclick="delete_from_main_cart({{ cart_item.id }});return false;" title="Delete"> <i
                                        class="glyphicon glyphicon-trash fa-2x"></i></a></td>
                                <td><input  class="form-control"  data-item_in_cart_id="{{ cart_item.id }}" onchange="change_cart(this);return false;" type="number" min="1" value="{{ cart_item.number }}" ></td>
                                <td>{{ cart_item.item.discount }}</td>
                                <td class="price">{{ cart_item.total_price }} &#8381;</td>
                            </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <!--cartContent-->

                    <div class="cartFooter w100">
                        <div class="box-footer">
                            <div class="pull-left"><a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default"> <i
                                    class="fa fa-arrow-left"></i> &nbsp; ВЕРНУТЬСЯ К ПОКУПКАМ </a></div>
                         <div class="pull-right">
                                <a id="cart_continue_btn" class="btn btn-primary btn-block "
                                 title="checkout" href="{% url 'checkout' %}"
                                 style="margin-bottom:20px"> Оформить заказ &nbsp; <i class="fa fa-arrow-right"></i>
                        </a>
                           </div>
                        </div>
                    </div>
                    <!--/ cartFooter -->

                </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <div class="contentBox" id="cart_sidebar">
                <div class="w100 costDetails">
                    <div class="table-block" id="order-detail-content"><a id="cart_continue_btn" class="btn btn-primary btn-lg btn-block "
                                                                          title="checkout" href="{% url 'checkout' %}"
                                                                          style="margin-bottom:20px"> Оформить заказ &nbsp; <i class="fa fa-arrow-right"></i> </a>

                        <div class="w100 cartMiniTable">
                            <table id="cart-summary" class="std table">
                                <tbody>
                                <tr>
                                    <td style="vertical-align: middle;" width="40%">Общая стоимость :</td>
                                    <td style="vertical-align: middle;" id="cart_subtotal_price_side" class="price">{{ total_cart_price }} &#8381;</td>
                                </tr>

                                <tr class="cart-total-price ">
                                    <td style="vertical-align: middle;">Скидка по промо-коду :</td>
                                    <td style="vertical-align: middle;" id="promo_value" class="price">{{ promo_discount_value }} %</td>
                                </tr>

                                <tr>
                                    <td style="vertical-align: middle;"> ИТОГО</td>
                                    <td style="font-size: 30px; font-weight: 600; vertical-align: middle;" class="site-color" id="cart_total_price_side">{{ total_cart_price_with_discount }} &#8381;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div id="promo_div" class="input-append couponForm">
                                            <input class="col-lg-6" id="appendedInputButton" type="text"
                                                   placeholder="ПРОМО-КОД">
                                            <button class="col-lg-6 btn btn-success" onclick="use_promo();return false;" type="button">Применить!</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End popular -->

        </div>
        <!--/rightSidebar-->

    </div>
    <!--/row-->
</div>
    <div style="clear:both"></div>

<!-- /.main-container -->

<div class="gap"></div>
    {% else %}
         {% include 'page/empty_cart.html' %}
    {% endif %}
{% endblock %}