{% load static %}
 <footer class="footer-area pt-58 gray-bg-3">
            <div class="footer-top gray-bg-3 pb-20">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget footer-widget-red footer-black-color mb-40">
                                <div class="footer-title mb-30">
                                    <img src="{% static 'images/logo.png' %}" alt="">
                                </div>
                                <div class="footer-about">
                                    <p>Мы открыты к сотрудничеству, готовы предложить идеи в рамках современных тенденций моды, учитывая Ваши пожелания к стоимости заказа.</p>
                                    <div class="footer-contact mt-20">
                                        <ul>
                                            <li>г. Челябинск ул. Красная, д. 67</li>
                                            <li>+8 (351) 223-04-57</li>
                                            <li>r-tango@mail.ru</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="social-icon">
                                    <ul>
                                        <li><a class="facebook" href="#"><i class="icon-social-vkontakte"></i></a></li>
                                        <li><a class="instagram" href="#"><i class="ion-social-instagram-outline"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-30">
                                    <h4>Ссылки</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>

                                <li class=""><a href="{% url 'about_us' %}">О нас</a></li>
                                <li class=""><a href="#">Доставка</a></li>
                                <li class=""><a href="#">Оплата</a></li>
                                <li class=""><a href="#">Корпоративным клиентам</a></li>
                                <li class=""><a href="#">Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-30">
                                    <h4>Заказать обратный звонок</h4>
                                </div>
                                <div class="footer-newsletter">
                                    <p>Мы свяжемся с Вами в течение нескольких минут.</p>
                                     <div id="mc_embed_signup" class="subscribe-form">
                                        <form action="{% url 'one_click' %}" method="post" >
                                            {% csrf_token %}   <div id="mc_embed_signup_scroll" class="mc-form">
                                                <input type="text" value="" name="phone" class="email" placeholder="Пожалуйста, введите ваш телефон." required>
                                               <input type="hidden"  name="form_type" value="callback">
                                              <input type="hidden"  name="name" value="callback">
                                                <div class="clear-2"><input type="submit" value="Жду звонка" name="subscribe" class="button"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom pb-25 pt-25 gray-bg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                <p>© 2020  Бутик цветов <a href="#">Розовое танго</a> </p>
                            </div>
                        </div>
                        <div class="col-md-6">
{#                            <div class="payment-img f-right">#}
{#                                <a href="#">#}
{#                                    <img alt="" src="assets/img/icon-img/payment.png">#}
{#                                </a>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </footer>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Быстрый заказ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
               <div style="text-align: center" id="mc_embed_signup" class="subscribe-form">
                   <img id="image_thumb" style="margin-bottom: 30px; width: 200px" src="{% static 'images/deal-1.png' %}" alt="">
                                        <form action="{% url 'one_click' %}" method="post" >
                                            {% csrf_token %}
                                            <div  class="mc-form">
                                                <input type="tel" value="" name="phone" class="text" placeholder="Пожалуйста, введите ваш телефон...." required="">
                                                <span style="display: block; color: #a4a4a4; font-size: x-small;">Мы свяжемся с Вами в течение нескольких минут.</span>
                                                <input type="hidden" id="oneclick_id" name="item-id">
                                                <input type="hidden"  name="form_type" value="oneclick">
                                                <div  class="clear-2">
                                                    <input type="submit" value="Отправить" name="subscribe" class="button">
                                                    <p style="color: #a4a4a4; font-size: x-small;">Нажимая кнопку "Отправить", вы соглашаетесь с правилами Политики конфиденциальности</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                    </div>
                </div>
            </div>
        </div>

  <div class="modal fade" id="callbackModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Заказ обратного звонка</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
               <div style="text-align: center" id="mc_embed_signup" class="subscribe-form">
                   <img id="image_thumb" style="margin-bottom: 30px; width: 200px" src="{% static 'images/deal-1.png' %}" alt="">
                                        <form action="{% url 'one_click' %}" method="post" >
                                            {% csrf_token %}
                                            <div  class="mc-form">
                                                 <input type="tel" value="" name="name" class="text" placeholder="Ваше имя" required="">

                                                <input type="tel" value="" name="phone"  class="text" placeholder="Пожалуйста, введите ваш телефон...." required="">
                                                <span style="display: block; color: #a4a4a4; font-size: x-small;">Мы свяжемся с Вами в течение нескольких минут.</span>
                                                <input type="hidden"  name="form_type" value="callback">

                                                <div  class="clear-2">
                                                    <input type="submit" value="Отправить" name="subscribe" class="button">
                                                    <p style="color: #a4a4a4; font-size: x-small;">Нажимая кнопку "Отправить", вы соглашаетесь с правилами Политики конфиденциальности</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                    </div>
                </div>
            </div>
        </div>


