{% load static %}
<header class="header-area clearfix">
    <div class="header-top">
        <div class="container">
            <div class="border-bottom-1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="account-curr-lang-wrap f-left">
                            <ul>
                                <li class=""><a href="{% url 'about_us' %}">О нас</a></li>
                                <li class=""><a href="#">Доставка</a></li>
                                <li class=""><a href="#">Оплата</a></li>
                                <li class=""><a href="#">Корпоративным клиентам</a></li>
                                <li class=""><a href="{% url 'contacts' %}">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                          <div class="account-curr-lang-wrap f-right">
                            <ul>
                                <li class=""><a href="tel:73512230457"><strong>+7 (351) 223-04-57</strong> </a></li>
                                <li class=""><a href="mailto:r-tango@mail.ru"><strong>r-tango@mail.ru</strong> </a></li>
                                <li> <a style="background: red;
    padding: 0px 10px;
    color: #fff;
    font-weight: 600;"  href="">ЗАКАЗАТЬ ЗВОНОК</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom transparent-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="logo">
                        <a href="/">
                            <img alt="" src="{% static 'images/logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-6">
                    <div class="header-bottom-right">
                        <div class="main-menu">
                            <nav>
                                <ul>


                                    {% for cat in cats_in_menu %}
                                        <li class="top-hover"><a href="{% url 'category' cat.name_slug all%}">{{ cat.name }}</a>
                                        {% if cat.filters.all %}
                                            <ul class="submenu">
                                                {% for filter in cat.filters.all %}
                                                    <li><a href="{% url 'category' cat.name_slug filter.name_slug%} ">{{ filter.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        </li>
                                    {% endfor %}

                                    <li class="mega-menu-position top-hover"><a href="#">подборки</a>
                                        <ul class="mega-menu">
                                            {% for cat in cats_not_in_menu %}
                                                <li>
                                                    <ul>
                                                        <li class="mega-menu-title">{{ cat.name }}</li>
                                                        {% for filter in cat.filters.all %}
                                                            <li><a href="{% url 'category' cat.name_slug filter.name_slug%}">{{ filter.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <div class="header-cart">
                            <a href="#">
                                <div class="cart-icon">

                                    <i class="ion-bag"></i>

                                    <span class="count-style cart_total_lg">{{ count_items_in_cart }}</span>

                                </div>
                                <div class="cart-text">
                                    <span class="digit">Корзина</span>
                                    <span class="cart-total-cost">{{ total_cart_price }} &#8381;</span>
                                </div>
                            </a>
                            <div class="shopping-cart-content">
                                <ul class="cart_table_lg">
                                    {% if not count_items_in_cart > 0  %}

                                        <li>Корзина пуста</li>
                                    {% else %}
                                        {% for item in all_items_in_cart %}
                                            <li class="single-shopping-cart">
                                                <div class="shopping-cart-img">
                                                    <a href="javascript: void(0)"><img width="50" height="50" alt="" src="{{ item.item.images.first.image_small }}"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="javascript: void(0)">{{ item.item.name }} </a></h4>
                                                    <h6>Количество {{ item.number }}</h6>
                                                    <span>{{ item.total_price }} &#8381;</span>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="javascript: void(0)" data-item_id="{{ item.item.id }}" onclick="delete_from_cart(this);return false;"><i class="ion ion-close"></i></a>
                                                </div>
                                            </li>

                                        {% endfor %}
                                    {% endif %}

                                </ul>

                                    <div class="cart_footer_lg">
                                  {% if count_items_in_cart > 0  %}
                                        <div class="shopping-cart-total ">
                                            <h4>Всего : <span class="shop-total">{{ total_cart_price }} &#8381;</span></h4>
                                        </div>
                                        <div class="shopping-cart-btn">
                                            <a href="{% url 'show_cart' %}">Корзина</a>
                                            <a href="{% url 'checkout' %}">Оплатить</a></div>
                                 {% endif %}
                                    </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                           <li class=""><a href="{% url 'about_us' %}">О нас</a></li>
                                <li class=""><a href="#">Доставка</a></li>
                                <li class=""><a href="#">Оплата</a></li>
                                <li class=""><a href="#">Корпоративным клиентам</a></li>
                                <li class=""><a href="{% url 'contacts' %}">Контакты</a></li>

                                    {% for cat in cats_in_menu %}
                                        <li class="top-hover"><a href="{% url 'category' cat.name_slug all%}">{{ cat.name }}</a>
                                        {% if cat.filters.all %}
                                            <ul class="submenu">
                                                {% for filter in cat.filters.all %}
                                                    <li><a href="{% url 'category' cat.name_slug filter.name_slug%} ">{{ filter.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        </li>
                                    {% endfor %}

                                    <li class="mega-menu-position top-hover"><a href="#">подборки</a>
                                        <ul class="mega-menu">
                                            {% for cat in cats_not_in_menu %}
                                                <li>
                                                    <ul>
                                                        <li class="mega-menu-title">{{ cat.name }}</li>
                                                        {% for filter in cat.filters.all %}
                                                            <li><a href="{% url 'category' cat.name_slug filter.name_slug%}">{{ filter.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
