{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <script>
        fbq('track', 'ViewContent');
    </script>
    <div class="breadcrumb-area gray-bg">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="{% url 'category' category.name_slug all%}">{{ category.name }}</a></li>
                    <li class="active">{{ item.name }} </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product-details pt-75 pb-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-img">
                     <div id="gallery" class="mb-20 product-dec-slider-mobile owl-carousel">
                            {% for image in item.images.all %}

                                    <img  src="{{ image.image_small }}" alt="">

                            {% endfor %}
                        </div>
                        <div id="gallery" class="mb-20 product-dec-slider owl-carousel">
                            {% for image in item.images.all %}
                                <a data-image="{{ image.image.url }}" data-zoom-image="{{ image.image.url }}">
                                    <img width="70" height="90" src="{{ image.image_small }}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                        <img class="zoompro" src="{{ item.images.first.image.url }}" data-zoom-image="{{ item.images.first.image.url }}" alt="zoom"/>


                        {% if item.discount > 0 %}
                            <span style="top: 140px">-{{ item.discount }}%</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-content">
                        <h1>{{ item.name }}</h1>
                        <div  class="rating-review">
{#                            <div class="pro-dec-rating">#}
{#                                <i class="ion-android-star-outline theme-star"></i>#}
{#                                <i class="ion-android-star-outline theme-star"></i>#}
{#                                <i class="ion-android-star-outline theme-star"></i>#}
{#                                <i class="ion-android-star-outline theme-star"></i>#}
{#                                <i class="ion-android-star-outline"></i>#}
{#                            </div>#}
                            <div style="margin-left: 0" class="pro-dec-review">
                                <ul>
                                    <li>Просмотров - {{ item.views }}  </li>
                                    <li>Покупок - {{ item.buys }}  </li>
                                </ul>
                            </div>
                        </div>

                        {% if item.discount > 0 %}
                            <span>{{ item.discount_value }} <i class="fa fa-rub"></i></span>
                            <del><span>{{ item.price }} <i class="fa fa-rub"></i></span></del>

                        {% else %}
                            <span>{{ item.price }} <i class="fa fa-rub"></i></span>

                        {% endif %}


                        {#                            <div class="in-stock">#}
                        {#                                <p>Available: <span>In stock</span></p>#}
                        {#                            </div>#}


                        <div class="pro-dec-feature">
                            <div class="shop-widget">

                                <div class="shop-catigory">
                                    <ul id="faq">
                                        <li> <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-1" aria-expanded="false" class="collapsed"><i style="float: none; margin-right: 10px;" class="fa fa-list"></i> <strong>Состав букета</strong> <i class="ion-ios-arrow-down"></i></a>
                                            <ul id="shop-catigory-1" class="panel-collapse show" style="">
                                                {% for part in item_parts %}
                                                    <li> {{ part.item_part.name }} {% if part.item_part_count > 0 %} x {{ part.item_part_count }} шт{% endif %}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li> <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-2" class="collapsed" aria-expanded="false"><i style="float: none; margin-right: 10px;" class="fa fa-truck"></i> <strong>Доставка</strong><i class="ion-ios-arrow-down"></i></a>
                                            <ul id="shop-catigory-2" class="panel-collapse collapse" style="">

                                                <li><p>Стоимость доставки по Челябинску 300 ₽.<br> Бесплатная доставка при заказе от 3000 ₽.</p>
                                                    <p>Стоимость доставки по пригороду уточняйте у специалистов.</p>
                                                    <p>Часы работы доствки: с 9:00 до 21:00</p>
                                                </li>

                                            </ul>
                                        </li>
                                        <li> <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-3" class="collapsed" aria-expanded="false"><i style="float: none; margin-right: 10px;" class="fa fa-money"></i> <strong>Оплата</strong> <i class="ion-ios-arrow-down"></i></a>
                                            <ul id="shop-catigory-3" class="panel-collapse collapse">
                                                <table class="payments-list-table" style="width:99%; margin-top: 10px">
                                                    <tbody><tr>
                                                        <td cellspacing="10">
                                                            <a style="color:#737373;" target="_blank" href="/oplata#payonlinecard" title="">Карты Visa или MasterCard</a>
                                                        </td>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#SberbankOnline" title="Оплата через Сбербанк онлайн">Сбербанк онлайн</a>
                                                        </td>
                                                    </tr><tr>
                                                    </tr><tr class="tr_border"><td><div class="border-left"></div></td><td><div class="border-right"></div></td></tr><tr>
                                                    </tr><tr>
                                                        <td cellspacing="10">
                                                            <a style="color:#737373;" target="_blank" href="/oplata#paypal" title="Оплата через систему PayPal">PayPal</a>
                                                        </td>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#AlfaclickRUB" title="Payment via Alfa-Click system">Alfa-Click</a>

                                                        </td>
                                                    </tr><tr>
                                                    </tr><tr class="tr_border"><td><div class="border-left"></div></td><td><div class="border-right"></div></td></tr><tr>
                                                    </tr><tr>
                                                        <td cellspacing="10">
                                                            <a style="color:#737373;" target="_blank" href="/oplata#QiwiWalletRUB" title="Оплата через систему Qiwi">Терминалы Qiwi</a>
                                                        </td>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#SberbankRUB" title="Оплата через банк">Оплата через банк</a>
                                                        </td>
                                                    </tr><tr>
                                                    </tr><tr class="tr_border"><td><div class="border-left"></div></td><td><div class="border-right"></div></td></tr><tr>
                                                    </tr><tr>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#MobileRetails" title="Оплата наличными в Евросети или Связном">Оплата наличными в Евросети или Связном</a>
                                                        </td>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#mobimoney" title="Оплата за счет баланса телефона">Оплата за счет баланса телефона</a>
                                                        </td>
                                                    </tr><tr>
                                                    </tr><tr class="tr_border"><td><div class="border-left"></div></td><td><div class="border-right"></div></td></tr><tr>
                                                    </tr><tr>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#YandexMoneyRUB" title="Оплата через систему Яндекс.Деньги">Яндекс.Деньги</a>
                                                        </td>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#WebmoneyRUB" title="Оплата через систему WebMoney">WebMoney</a>
                                                        </td>
                                                    </tr><tr>
                                                    </tr><tr class="tr_border"><td><div class="border-left"></div></td><td><div class="border-right"></div></td></tr><tr>
                                                    </tr><tr>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#bill" title="Оплата с расчетного счета">Оплата на Р/С</a>
                                                        </td>
                                                        <td>
                                                            <a style="color:#737373;" target="_blank" href="/oplata#Courier" title="Оплата курьеру при получении заказа">Оплата курьеру</a>
                                                        </td>
                                                    </tr><tr>
                                                    </tr></tbody></table>
                                            </ul>


                                        </li>
                                        <li> <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-4" class="collapsed" aria-expanded="false"><i style="float: none; margin-right: 10px;" class="fa fa-list-alt"></i> <strong>Описание</strong> <i class="ion-ios-arrow-down"></i></a>
                                            <ul id="shop-catigory-4" class="panel-collapse collapse">
                                                <li>{{ item.description | safe }}</li>

                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                      <div style="display: flex; align-items: center;  flex-wrap: wrap; margin-bottom: 20px" class="">
            <a style=" display: inline-block; margin: 0 auto; flex-grow: 1; flex-basis: 40%; text-align: center; margin-right: 20px;    margin-bottom: 20px;" class="in-cart-btn"  href="javasript: void(0)"

                         data-item_id="{{ item.id }}"
                         data-item_name="{{ item.name }}"
                         data-item_price="{{ item.price }}"
                         data-item_image="{{ item.images.first.image_small }}"
                         onclick="add_to_cart(this,1)">В корзину</a>
            <a style="display: inline-block;margin: 0 auto;    flex-basis: 40%;
    margin-bottom: 20px;" class="one-click-btn" href="#" data-itemid="{{ item.id }}" data-item_image="{{ item.images.first.image_small }}" data-target="#exampleModal" data-toggle="modal">Купить в 1 клик</a>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description-review-area pb-70">
        <div class="container">
            <div class="description-review-wrapper">
                <div class="description-review-topbar nav text-center">
                    <a class="active" data-toggle="tab" href="#des-details1">Описание</a>

                    <a data-toggle="tab" href="#des-details3">Отзывы</a>
                </div>
                <div class="tab-content description-review-bottom">
                    <div id="des-details1" class="tab-pane active">
                        <div class="product-description-wrapper">
                            {{ item.description | safe }}
                        </div>
                    </div>
                    <div id="des-details3" class="tab-pane">
                        <div class="rattings-wrapper">
                            {% if not all_reviews %}
                                <p>Отзывов пока нет</p>
                            {% endif %}
                            {% for review in all_reviews %}
                                <div class="sin-rattings">
                                    <div class="star-author-all">
                                        {#                                    <div class="ratting-star f-left">#}
                                        {#                                        <i class="ion-star theme-color"></i>#}
                                        {#                                        <i class="ion-star theme-color"></i>#}
                                        {#                                        <i class="ion-star theme-color"></i>#}
                                        {#                                        <i class="ion-star theme-color"></i>#}
                                        {#                                        <i class="ion-star theme-color"></i>#}
                                        {#                                        <span>(5)</span>#}
                                        {#                                    </div>#}
                                        <div class="ratting-author f-right">
                                            <h3>{{ review.name }}</h3>

                                            <span>{{ review.createdAt | date }}</span>
                                        </div>
                                    </div>
                                    <p>{{ review.text }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="ratting-form-wrapper">
                            <h3>Добавьте ваш отзыв :</h3>
                            <div class="ratting-form">
                                <form action="" method="post">{% csrf_token %}
                                    {#                                    <div class="star-box">#}
                                    {#                                        <h2>Rating:</h2>#}
                                    {#                                        <div class="ratting-star">#}
                                    {#                                            <i class="ion-star theme-color"></i>#}
                                    {#                                            <i class="ion-star theme-color"></i>#}
                                    {#                                            <i class="ion-star theme-color"></i>#}
                                    {#                                            <i class="ion-star theme-color"></i>#}
                                    {#                                            <i class="ion-star"></i>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="rating-form-style mb-20">
                                                <input required name="name" placeholder="Ваше ФИО" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="rating-form-style mb-20">
                                                <input placeholder="Ваш Email" name="email" type="email">
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" value="{{ item.id }}">
                                        <input style="display: none" type="checkbox" name="agree" >
                                        <div class="col-md-12">
                                            <div class="rating-form-style form-submit">
                                                <textarea required name="text" placeholder="Ваш отзыв"></textarea>
                                                <input type="submit" value="Отправить">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <div class="product-area pb-70">#}
    {#        <div class="container">#}
    {#            <div class="product-top-bar section-border mb-35">#}
    {#                <div class="section-title-wrap">#}
    {#                    <h3 class="section-title section-bg-white">Похожие товары</h3>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="featured-product-active hot-flower owl-carousel product-nav">#}
    {#                <div class="product-wrapper">#}
    {#                    <div class="product-img">#}
    {#                        <a href="product-details.html">#}
    {#                            <img alt="" src="assets/img/product/product-5.jpg">#}
    {#                        </a>#}
    {#                        <span>-30%</span>#}
    {#                        <div class="product-action">#}
    {#                            <a class="action-wishlist" href="#" title="Wishlist">#}
    {#                                <i class="icon-heart"></i>#}
    {#                            </a>#}
    {#                            <a class="action-cart" href="#" title="Add To Cart">#}
    {#                                <i class="icon-handbag"></i>#}
    {#                            </a>#}
    {#                            <a class="action-compare" href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">#}
    {#                                <i class="icon-magnifier-add"></i>#}
    {#                            </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="product-content text-center">#}
    {#                        <h4>#}
    {#                            <a href="product-details.html">Dutchman's Breeches </a>#}
    {#                        </h4>#}
    {#                        <div class="product-price-wrapper">#}
    {#                            <span>$100.00</span>#}
    {#                            <span class="product-price-old">$120.00 </span>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}