<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Ваш заказ был успешно размещен</title>
    <style type="text/css">

    </style>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #f5f5f5; min-width: 340px; font-size: 16px; line-height: normal;">
    <tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="900" class="table700" style="max-width: 900px; min-width: 320px; background: #ffffff;">
                <tr>
                    <td align="center" valign="top">





                        <p><strong>Ваш заказ был успешно размещен.</strong></p>
                        <p style="font-size: 20px;"> Номер заказа: <strong>{{ order.id }}</strong></a>  </p>
                        <p style="font-size: 20px;"> Код заказа: <strong>{{ order.order_code }}</strong></a>  </p>

                        <table style="border-collapse: collapse; width: 850px; font-size: 20px;" >
                            <tr>
                                <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;"><strong>Детализация заказа</strong></td>
                            </tr>
                            <tr>
                                <td style="padding: 3px; border: 1px solid #999;">
                                    <strong>№ заказа</strong> : {{ order.id }}<br>
                                    <strong>Дата заказа</strong> : {{ order.created_at|date:"D, d M Y, H:i" }}<br>
                                    <strong>Сумма заказа</strong> : {{ order.total_price }} &#8381;<br>
                                    <strong>Способ оплаты</strong> : {{ order.payment }}<br>

                                    <strong>Способ доставки</strong> :{{ order.shipping.name }}<br>
                                    {% if order.shipping.isFree%}
                                        {% if order.total_price >= order.shipping.freePrice %}
                                            <strong>Стоимость доставки</strong> : Бесплатно<br>
                                        {% else %}
                                            <strong>Стоимость доставки</strong> :{{ order.shipping.price }} &#8381;<br>
                                        {% endif %}
                                    {% else %}
                                        <strong>Стоимость доставки</strong> :{{ order.shipping.price }} &#8381;<br>
                                    {% endif %}
                                    <strong>Адрес доставки</strong>: {{ order.receiver_address }}<br>
                                    <strong>Дата доставки </strong>: {{ order.order_date }}<br>
                                    <strong>Время доставки </strong>: {{ order.order_time }}<br>



                                </td>
                            </tr>
                        </table>
                        <table style="border-collapse: collapse; width: 850px; font-size: 20px;" >
                            <tr>
                                <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;"><strong>Данные заказа</strong></td>
                            </tr>
                            <tr>
                                <td style="padding: 3px; border: 1px solid #999; ">
                                    <strong>ФИО получателя </strong>: {{ order.receiver_name }}<br>
                                    <strong>Телефон получателя </strong> : {{ order.receiver_phone }} <br>
                                    <strong>ФИО отправителя </strong>: {{ order.sender_name }} <br>
                                    <strong>Телефон отправителя </strong>: {{ order.sender_phone }}<br>
                                    <strong>Email отправителя </strong>: {{ order.sender_email }} <br>

                                    <strong>Нужно фото при доставке </strong>: {% if order.is_need_photo %}ДА{% else %}НЕТ{% endif %}<br>
                                {% if order.card_text %}
                                    <strong>Текст открытки</strong>: <p style="max-width: 840px;word-break: break-all;">{{ order.card_text }}</p><br>
                                {% endif %}


                                </td>
                            </tr>
                        </table>


                        <p> <strong>Ваш заказ :</strong></p>
                        <table style="border-collapse: collapse; width: 850px;" >
                            <thead>
                            <tr>

                                <th style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Название</th>

                                <th style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5; ">Количество</th>
                                <th style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Цена</th>
                                <th style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Итог</th>
                            </tr>
                            </thead>
                            <tbody>



                            {% for item in order.itemsinorder_set.all %}
                                <tr>


                                    <td style="padding: 3px; border: 1px solid #999; text-align: center; ">{{ item.item.name }}</td>
                                    <td style="padding: 3px; border: 1px solid #999; text-align: center; ">{{ item.number }} ед.</td>
                                    <td style="padding: 3px; border: 1px solid #999; text-align: center; ">{{ item.current_price }} &#8381;</td>
                                    <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">{{ item.total_price }} &#8381;</td>
                                </tr>
                            {% endfor %}



                            <tr>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Всего : {{ order.total_price }} &#8381;</td>
                            </tr>
                            {% if order.promo_code %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Скидка по промо-коду : {{ order.promo_code.promo_discount }} %</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;">Итого со скидкой : {{ order.total_price_with_code }} &#8381;</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>



                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>