<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<table  border="0" cellspacing="0" cellpadding="0">
    <tr >

<td style="display: flex">

            <a href="http://www.lakshmi888.ru/">
            <img style="   margin: -4px 0 0 -4px;" src="http://ipic.su/img/img7/fs/1-1.1555928943.png">
        </a>

         <a href="https://vk.com/lakshmi_888">
            <img style="   margin: -4px 0 0 -4px;"  src="http://ipic.su/img/img7/fs/1-2VK.1555929196.png">
        </a>

            <a href="https://www.instagram.com/lakshmi.888/">
            <img style="   margin: -4px 0 0 -4px;"  src="http://ipic.su/img/img7/fs/1-3INS.1555929147.png">
        </a>

            <a href="mailto:info@lakshmi888.ru">
                <img style="   margin: -4px 0 0 -4px;"  src="http://ipic.su/img/img7/fs/1-4MAIL.1555929158.png">
            </a>

</td>




    </tr>

    <tr><td>
       <img   src="http://ipic.su/img/img7/fs/2-2.1558038588.png">
    </td>

    </tr>
    <tr><td>
        <img   src="http://ipic.su/img/img7/fs/3-3.1558038614.png">
    </td></tr>
    <tr><td>
         <a  href="http://www.lakshmi888.ru/">
        <img   src="http://ipic.su/img/img7/fs/4-4.1558038667.png">
    </a>
    </td></tr>

    <tr><td>
        <a href="http://www.lakshmi888.ru/">
        <img   src="http://ipic.su/img/img7/fs/5-5.1558038686.jpg">
    </a>
    </td></tr>
</table>


</body>
</html>